.chart-tooltip
  background-color: #1A1E2C

  border-radius: 4px
  .date
    font-size: 1.2rem;
    color: rgba(255,255,255,.4);
  .value
    font-size: 1.2rem;
    color: #fff
    padding-left: 10px
    padding-right: 10px

  .desc
    font-size: 10px;
    line-height: 1.25;
    padding: 3px 10px;
    color: #fff;
    margin-top: 2px
    border-radius: 4px
    &.hide
      visibility: hidden
    &.sent
      background: #F06E6E;
    &.receive
      background: #00B865;

.chart
  &__no-data-splash
    display: flex
    justify-content: center
    align-items: center
    height: 300px
    color: #fff
