@import 'styles/helpers/vars'
@import 'styles/helpers/mixins'
@import 'components/trade-pairs/icons'

$floatWidth: 200px

.assets-table
  width: 100%;
  display: block
  table-layout: fixed
  &__colgroup
    display: table-column-group
  &__icon
    &--desktop-hidden
      display: block
      width: 20px
      height: 20px
      position: absolute
      right: 20px;
      top: 10px;
  &__col
    display: table-column
    &--logo
      width: 80px
      padding-right: 0px
    &--total
      width: calc(100% - 220px)
    &--change
      width: 70px
    &--name
      width: 100px
    &--icon
      display: none
      // width: percentage(1/12)
    &--price
      display: none
  &__mobile-text
    display: block
  &__hide-small-amounts
    .custom-checkbox
      +montserrat(1.2rem, normal, none)
      color: rgba($black, 0.6)
      white-space: nowrap
      margin-bottom: 0px
      padding-left: 27px
    label.custom-checkbox .checkmark
      border-color: rgba($black, 0.6)
      height: 11px;
      width: 11px;
      top: 4px
      left: 4px
    label.custom-checkbox:hover input ~ .checkmark
      border-color: $newBlue
    label.custom-checkbox input:checked ~ .checkmark
      border-color: $newBlue
      background-color: rgba($newBlue, 0.9)
    label.custom-checkbox .checkmark:after
      top: 0px
      left: 3px
  &__search-line
    padding: 0
    display: flex
    justify-content: space-between
    align-items: center;
    .trade-search
      max-width: 330px;
      width: 100%;
    .search-toggler-mobile
      display: none
    .search-prefixer-desktop
      display: block
    .search-closer-mobile
      display: none
    .input-with-prefix
      display: block
  &__header
    display: block
    .assets-table__cell
      +ptsans(1.2rem, bold)
      color: rgba(0,0,0,0.4)
      padding: 12px 10px;
      border-top: 1px solid #F2F2F2
      &--thin
        font-weight: normal
  &__mobile-text
    padding-top: 5px
  &__body
    display: block
    width: 100%
  &__row
    display: flex
    width: 100%
    justify-content: space-between
    position: relative
    &--delimeter
      margin-bottom: 20px
      margin-top: 20px
      &:before
        content: ''
        display: block
        width: calc(100% - 40px)
        margin-left: 20px
        height: 1px
        background-color: #DDDEDF
      .assets-table__cell
        display: none
        &:first-child
          display: none
        &:last-child
          display: none
    &--gray
      background-color: $gray
      &:hover
        background-color: #E7EAEC
    &--white-shadow
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
      background-color: $white
      &:hover, &--hovered
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer
    &--clicked
      .assets-table__cell--mobile-float
        &-first, &-second, &-third
          transform: translateX(20px)
  &__cell
    display: block
    vertical-align: middle
    padding-left: 10px
    padding-right: 10px
    box-sizing: border-box
    border-bottom: 1px solid #EDEDED
    padding-top: 10px
    padding-bottom: 10px
    &--mobile-hidden
      display: none
    &--mobile-float
      display: flex
      position: absolute
      right: 0px
      height: 60px
      top: 0px
      background-color: $newBlue
      color: $white
      transform: translateX($floatWidth+20px)
      transition: transform 0.5s
      flex-direction: column
      font-size: 1rem
      align-items: center
      padding-top: 15px
      svg
        fill: $white
      &-first
        width: $floatWidth / 3
        right: $floatWidth / 3 * 2
      &-second
        width: $floatWidth / 3
        right: $floatWidth / 3
      &-third
        width: $floatWidth / 3
        right: 0
      .animate-tooltip-content
        flex-wrap: wrap;
        display: block
        .lock-svg
          margin-bottom: -4px
    .sparkline
      display: none

    .order-direction
      position: relative
      margin-right: 15px
      opacity: 1
      display: inline-block
      &:after
        position: absolute
        content: ''
        width: 0;
        height: 0;
        border-style: solid;
        right: -15px
        top: 5px
      &--down
        &:after
          border-width: 4px 3px 0 3px;
          border-color: #000000 transparent transparent transparent;
      &--up
        &:after
          border-width: 0 3px 4px 3px;
          border-color: transparent transparent #000000 transparent;
    &--clickable
      &:hover
        cursor: pointer
    &--text-center
      text-align: center
    &--no-right-padding
      padding-right: 0px
    &--total
      font-size: 1.4rem
      line-height: 1
      white-space: nowrap
      width: calc(100% - 220px)
      color: #333951
      display: flex
      justify-content: center
      flex-direction: column
      .assets-table__cell--tokens
        padding-top: 3px
    &--info
      // padding-top: 20px
      width: 100px
      padding-left: 0px
      padding-right: 0px
      box-sizing: border-box
      position: relative
      padding-right: 20px
      &--has-link
        padding-right: 0px
        padding-top: 5px
        padding-bottom: 5px
    &--subtotal
      font-size: 1.2rem
      line-height: 1.25
      width: 120px
      text-transform: uppercase
      color: rgba(51, 57, 81, 0.4)
    &--tokens
      white-space: nowrap
    &--header-total
      width: calc(100% - 220px)
    &--header-name
      width: 100px
    &--return, &--header-change
      width: 120px
    &--return
      display: flex
      align-items: center
      .assets-table__change
        width: 100%
        max-width: 90px
    &--button
      text-align: center
      // display: block
      // position: absolute
      // left: -20px
      svg
        width: 20px
        height: 15px
    &--price
      display: none
  &__logo
    height: 20px
    width: 35px;
    display: block;
    position: relative
    margin-top: 1px
    margin-bottom: 1px
    top: -2px
    // background-size: contain
    // background-repeat: no-repeat
    // background-position: center
  &__asset-name-container
    display: flex
    align-items: center
    flex-direction: column
  &__asset-name
    font-size: 1.2rem
    color: rgba(51, 57, 81, 0.8)
    a
      color: rgba(51, 57, 81, 0.8)
  a
    display: flex
    background-color: #F5F5F6
    padding: 5px 15px
    border-radius: 4px
    width: 50px
  &__token
    font-size: 1.2rem
    font-weight: bold
    display: none
  &__change
    font-size: 1.4rem
    position: relative
    border-radius: 4px
    text-align: center
    &--positive
      background-color: rgba(0, 184, 101, 0.04)
      color: $shamrock
    &--negative
      background-color: rgba(240, 110, 110, 0.05)
      color: $pink

  &__action-buttons
    display: flex
    position: absolute
    left: -185px
    .button--white
      width: 50px
      margin-right: 10px
      font-size: 1.2rem
      padding-left: 0px
      padding-right: 0px
    .investment__buttons
      display: flex
      margin-left: -10px
      .button
        width: 50px
        padding-left: 0px
        padding-right: 0px
        font-size: 1.2rem
        margin-left: 10px
        &.button-lock
          padding-top: 0px
          padding-bottom: 0px
        svg
          width: 30px
          height: 30px
  .table-delimeter
    height: 1px
    width: 100%
    background-color: #DDDEDF
    margin-top: 30px
    margin-bottom: 30px

@media ($laptop)
  .assets-table
    display: table
    table-layout: fixed
    &__icon
      &--desktop-hidden
        display: none
    &__mobile-text
      display: none
    &__asset-name-container
      flex-direction: row
    &__asset-name-column
      margin-left: 30px
    &__token
      display: block
      opacity: 0.4
      font-weight: normal
      max-height: 35px
      overflow: hidden
      box-sizing: border-box
    a
      background-color: transparent
      padding: 0px
      width: auto
      .assets-table__asset-name
        color: rgba(51, 57, 81, 0.8)
        text-decoration: underline
      &:hover
        .assets-table__asset-name
          text-decoration: none
          color: $newBlue
    &__asset-name
      font-size: 1.4rem
      font-weight: bold
      color: rgba(51, 57, 81, 0.8)
    &__header
      display: table-header-group
      .assets-table__cell
        height: 40px
    &__search-line
      padding: 40px 0
    &__col
      &--icon
        display: table-column
      &--price
        display: table-column
        width: percentage(1/12)
      &--name
        width: percentage(3/12)
      &--change
        width: percentage(1/12)
      &--total
        width: percentage(2/12)
    &__cell
      display: table-cell
      padding-top: 5px
      padding-bottom: 4px
      padding-left: 12px
      padding-right: 12px
      &--button
        svg
          width: 20px
          height: 20px

      &--mobile-float
        display: table-cell
        position: static
        background-color: $white
        transform: translateX(0px)
        svg
          fill: $black
      &--lock
        svg
          fill: $black
          &:hover
            fill: $newBlue
      &--header-total, &--header-name
        width: auto
      &--mobile-hidden
        display: table-cell
      &--tokens
        position: static
      &--total
        position: static
      &--price
        display: table-cell
        position: static
        top: 0px
        left: 0px
      &--align-right
        text-align: right
      .sparkline
        display: block
        stroke: rgba(51,57,81,.4);
      &--button
        display: table-cell
        position: static
        top: 0px
        left: 0px
        &:not(&--disabled)
          &:hover
            cursor: pointer
            svg
              fill: $newBlue
        &--disabled
          svg, div
            opacity: 0.2
    &__row
      display: table-row
      margin-bottom: 0px
      &--delimeter
        &:before
          display: none
        .assets-table__cell
          padding-top: 20px
          padding-bottom: 20px
          height: 40px !important
          padding-left: 0px
          padding-right: 0px
          display: table-cell
          &:first-child
            display: table-cell
            padding-left: 80px
          &:last-child
            display: table-cell
            padding-right: 80px
          &:before
            content: ''
            display: block
            width: 100%
            height: 1px
            background-color: #DDDEDF
      .assets-table__action-buttons
        display: none
        position: static
        .button--white
          display: none
    &__body
      display: table-row-group
      &--border-top
        border-top: 1px solid black
      .assets-table__cell
        height: 65px
      .assets-table__row
        &:hover
          .assets-table__cell
            background-color: #f7f7f7
    &__change
      position: static
      top: 0px

    &__action-buttons
      .investment__buttons
        .button
          width: 80px

.verify-for-action-tooltip
  width: 150px
  text-align: center
  .text
    +montserrat(1.2rem, 600, none)
    margin-bottom: 20px
  .button.button--new-blue
    +montserrat(1.2rem, 600, none)
