@import 'styles/helpers/vars'
@import 'styles/helpers/mixins'

.dashboard
  &__gray-block
    background-color: #F7F7F8
    padding-top: 80px
    padding-bottom: 80px
    &__title
      text-align: center
      +montserrat(2rem, bold, uppercase)
  &__link-button
    background-color: $newBlue
    padding-top: 5px
    padding-bottom: 5px
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    font-size: 1.4rem
    font-weight: bold
    width: 200px
    border-radius: 4px
    color: $white
    box-sizing: border-box
  &__top-growth-button
    display: flex
    justify-content: center
  &__top-growth-slider
    padding-bottom: 40px

.dashboard-table-block
  background-color: $white
  padding-top: 0px
  padding-bottom: 40px
  overflow: hidden
  .trade-search
    padding-top: 20px
    padding-bottom: 20px
    input[type="text"].input
      border: 0px
  .delimeter
    margin-left: -20px
    width: calc(100% + 40px)
    background-color: #DDDEDF
    display: none
  .table-header__title
    +montserrat(1.6rem, bold, uppercase)
  &__tabs-container
    display: flex
    background-color: #202433
    border-top-left-radius: 4px
    border-top-right-radius: 4px
    justify-content: space-between
    margin-top: 5px
  .trade-panel
    position: static
    padding-left: 0px
    padding-top: 0px
    .search-closer-mobile, .search-toggler-mobile
      display: none
    .input-with-prefix, .search-prefixer-desktop
      display: block
  &__tabs
    display: flex
    .trade-tabs
      display: flex
      background-color: transparent
      color: $white
      &__tab
        &--active
          color: $black
          background-color: $white
    &--blue
      display: none
      .trade-tabs
        color: $white
        &__tab
          &--active
            background-color: $newBlue
            color: $white
    &--blue
      .dashboard-table-block__tab
        &--current
          background-color: $newBlue
          color: $white
  &__tab
    padding: 10px 20px
    +montserrat(1.4rem, 600, none)
    color: $white
    &--current
      background-color: $white
      color: rgba(0,0,0,0.9)
      border-top-left-radius: 4px
      border-top-right-radius: 4px

.dashboard-chart-block
  margin-bottom: 35px
  max-width: 1490px
  margin-left: auto
  margin-right: auto
  width: 100%
  box-sizing: border-box

.dashboard-chart-filter
  & > div
    position: relative
  .rect-spinner
    position: absolute
    right: 0px
  .toggler[role=switch]
    display: inline-flex
    border: 0px
    color: $white
    border-radius: 0px
    li.active
      background-color: $newBlue
      border-radius: 4px
    li
      border: 0px
      margin-right: 10px
      padding-left: 10px
      padding-right: 10px
      width: 40px
      box-sizing: border-box
      line-height: 1.75
      font-weight: 600


.dashboard-total
  padding-bottom: 40px

.dashboard-table
  &__total-row
    padding-top: 30px
    background-color: #282D3F

.dashboard-total
  display: flex
  justify-content: space-between
  flex-direction: column
  &__hint
    +montserrat(1rem, bold, uppercase)
    opacity: 0.4
    color: $white
  &__amount
    +montserrat(2rem, normal, uppercase)
    margin-bottom: 20px
    color: $white
  &__spinner
    display: inline-flex
    align-items: center
    height: 42px
  &__column
    &--buttons
      display: flex
      align-items: center
      .button.deposit-button
        background-color: $newBlue
      .button.deposit-button, .button.white-border
        padding-top: 5px
        padding-bottom: 5px
        display: flex
        justify-content: center
        align-items: center
        height: 40px
        font-size: 1.2rem
        width: 140px
        &.deposit-button
          svg
            margin-left: -15px
      .button.white-border
        margin-left: 20px
      svg
        width: 30px
        height: 30px
    .animate-tooltip .tooltip-message
      .verify-tooltip-notification
        .tootip-text
          max-width: 200px
          white-space: pre-wrap
          & ~ a
            width: 100%



@media ($laptop)
  .dashboard-table-block
    padding-top: 0px
    padding-bottom: 60px
    .trade-search
      padding-top: 0px
      padding-bottom: 0px
      input[type="text"].input
        border: 1px solid rgba(0,0,0,0.1)
    .trade-panel
      padding-top: 40px
    .delimeter
      display: block
    &__tabs
      &--blue
        display: flex
  .dashboard-chart-block
    padding-left: 20px
    padding-right: 20px
  .dashboard-total
    padding-bottom: 40px
    flex-direction: row
    &__amount
      +montserrat(3rem, normal, uppercase)
      margin-bottom: 0px
  .dashboard-table
    &__total-row
      padding-top: 30px
