@import '../../styles/helpers/landing-vars.sass' // relative path for bmc-landing
@import '../../styles/helpers/vars.sass'
@import '../../styles/helpers/mixins.sass'

.dashboard
  &__top-growth-slider
    overflow: hidden;
    padding-top: 40px
    .investment
      &__block
        &-wrap.swiper-slide
          width: 100%
    .dashboard__swiper-wrap
      margin-left: -20px

.dashboard
  &__top-growth-slider
    .dashboard__swiper-wrap
      .swiper-slide
        width: 200px

@media ($tablet)
  .dashboard
    &__top-growth-slider
      .dashboard__swiper-wrap
        .swiper-slide
          width: 300px

@media ($laptop)
  .dashboard
    &__top-growth-slider
      .swiper-wrapper
        transform: translate(0,0)!important;
      .investment__block-wrap.swiper-slide
        width: 33.3%
  .dashboard
    &__top-growth-slider
      .dashboard__swiper-wrap
        .swiper-slide:last-child
          display: none


@media ($desktop)
  .dashboard
    &__top-growth-slider
      .investment__block-wrap.swiper-slide
        width: 25%

  .dashboard
    &__top-growth-slider
      .dashboard__swiper-wrap
        .swiper-wrapper
          .swiper-slide:last-child
            display: block
