=clearfix()
  &:after
    content: ''
    display: block
    clear: both
    visibility: hidden
    height: 0
    line-height: 0
    font-size: 0

=placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &:placeholder
    @content

.hide
  visibility: hidden
  opacity: 0
  transition: opacity $fast, visibility 0s $fast

.show
  visibility: visible
  opacity: 1
  transition-delay: 0s

@mixin hide
  visibility: hidden
  opacity: 0
  transition: opacity $fast, visibility 0s $fast

@mixin show
  visibility: visible
  opacity: 1
  transition-delay: 0s

@mixin montserrat($fontSize, $fontWeight, $textTransform)
  font-family: $sec
  font-size: $fontSize
  font-weight: $fontWeight
  text-transform: $textTransform

@mixin pt_sans($fontSize, $fontWeight, $textTransform)
  font-family: $primary
  font-size: $fontSize
  font-weight: $fontWeight
  text-transform: $textTransform

@mixin h1()
  +montserrat(5rem, bold, none)
  line-height: 6rem

@mixin h2()
  +montserrat(4rem, bold, none)
  line-height: 5rem

@mixin h3()
  +montserrat(3rem, bold, none)
  line-height: 4rem

@mixin h4_regular()
  +montserrat(1.6rem, normal, none)
  line-height: 2.5rem

@mixin h4_bold()
  +montserrat(1.6rem, bold, none)
  line-height: 2.5rem

@mixin h4_semibold()
  +montserrat(1.6rem, 600, none)
  line-height: 2.5rem

@mixin h5_regular()
  +montserrat(1.4rem, normal, none)
  line-height: 2rem

@mixin h5_semibold()
  +montserrat(1.4rem, 600, none)
  line-height: 2rem

@mixin h5_tablebold()
  +pt_sans(1.4rem, bold, none)
  line-height: 2rem

@mixin h5_tableregular()
  +pt_sans(1.4rem, normal, none)
  line-height: 2rem

@mixin h6_regular()
  +montserrat(1.2rem, normal, none)
  line-height: 1.5rem

@mixin h6_semibold()
  +montserrat(1.2rem, 600, none)
  line-height: 1.5rem

@mixin h6_tableregular()
  +pt_sans(1.2rem, normal, none)
  line-height: 1.5rem

@mixin h7()
  +pt_sans(1rem, normal, none)
  line-height: 1.5rem


@mixin big_button()
  +h4_semibold()
  background-color: #0c72d8
  height: 50px
  border: 0px
  border-radius: 4px
  color: $white
  &:hover
    cursor: pointer

@mixin medium_button()
  +h6_semibold()
  height: 40px
  border: 0px
  border-radius: 4px
  text-decoration: none
  text-align: center
  display: flex
  align-items: center
  justify-content: center

@mixin medium_white_button()
  +h6_semibold()
  background-color: $white
  text-align: center
  height: 40px
  text-decoration: none
  border-width: 1px
  border-color: #0c72d8
  border-radius: 4px
  border-style: solid
  color: #0c72d8
  display: flex
  align-items: center
  justify-content: center
  &:hover
    cursor: pointer
    border-width: 2px
    border-color: #0966C2

@mixin medium_transparent_button()
  +h6_semibold()
  background-color: transparent
  text-align: center
  height: 40px
  text-decoration: none
  border: solid 1.5px rgba(255,255,255,0.2);
  border-radius: 4px
  color: $white
  display: flex
  align-items: center
  justify-content: center
  &:hover
    cursor: pointer


%hide
  @include hide

%show
  @include show
