
.mask1,
.mask2,
.mask3,
.mask4,
.mask5
  position: relative
  display: block
  width: 105%
  left: -4%

.mask1
  bottom: -1px
  transform: scale(-1, 1)

.mask2
  top: -1px
  transform: scale(-1, -1)

.mask3
  bottom: -1px
  transform: scale(1, 1)

.mask4
  top: -1px
  transform: scale(1, -1)

.mask5
  transform: translateY(-100%)

.mask6
  z-index: 10

.mask7
  position: absolute
  left: 0
  bottom: 0

.mask__wrap
  position: relative
