=clearfix()
  &:after
    content: ''
    display: block
    clear: both
    visibility: hidden
    height: 0
    line-height: 0
    font-size: 0

=placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &:placeholder
    @content

.hide
  visibility: hidden
  opacity: 0
  transition: opacity $fast, visibility 0s $fast

.show
  visibility: visible
  opacity: 1
  transition-delay: 0s

@mixin hide
  visibility: hidden
  opacity: 0
  transition: opacity $fast, visibility 0s $fast

@mixin show
  visibility: visible
  opacity: 1
  transition-delay: 0s

%hide
  @include hide

%show
  @include show

@mixin montserrat($fontSize, $fontWeight, $textTransform)
  font-family: $montserrat
  font-size: $fontSize
  font-weight: $fontWeight
  text-transform: $textTransform

@mixin ptsans($fontSize, $fontWeight)
  font-size: $fontSize
  font-weight: $fontWeight

@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin orignalModalSizes($leftPart, $rightPart)
  @media ($laptop)
    .clean-modal-left-part
      width: $leftPart

@mixin reverseModalSizes($leftPart, $rightPart)
  @media ($laptop)
    .clean-modal-left-part
      width: $leftPart
    .clean-modal-right-part
      width: $rightPart
      padding-top: 0px
      padding-bottom: 0px

@mixin cleanModalSizes($leftPart, $rightPart, $isReversed, $parentClass)
  @if ($isReversed)
    .modal.clean-modal.reverse.#{$parentClass}
      .modal-lg
        @media ($laptop)
          width: $leftPart+$rightPart
        +reverseModalSizes($leftPart, $rightPart)

  @else
    .clean-modal
      +orignalModalSizes($leftPart, $rightPart)

