@mixin h1()
  font-size: 2.4rem
  line-height: 1.2
  font-weight: bold
  font-family: $montserrat
  text-transform: uppercase
  text-align: center
  //
  // @media ($tablet)
  //   font-size: 3.8rem
  //   line-height: 4rem
  //
  // @media ($mobile)
  //   font-size: 3rem
  //   line-height: 3rem

@mixin h2()
  font-size: 2.4rem
  line-height: 1.2
  font-weight: 600
  font-family: $montserrat
  text-transform: uppercase
  text-align: center

  // @media ($tablet)
  //   font-size: 2.8rem
  //   line-height: 3rem
  //
  // @media ($mobile)
  //   font-size: 2.4rem
  //   line-height: 2.5rem

@mixin h3()
  font-size: 2.1rem
  line-height: 2.5rem
  letter-spacing: .01em
  font-weight: normal
  text-transform: uppercase
  font-family: $montserrat
  text-align: center
  font-weight: bold

  // @media ($mobile)
  //   font-size: 1.9rem
  //   line-height: 2rem

@mixin h4()
  font-size: 2.1rem
  font-family: $montserrat
  text-transform: uppercase

@mixin h6()
  font-size: 2.1rem

@mixin h5()
  font-size: 1.4rem
  font-family: $montserrat
  font-weight: 600
  text-transform: uppercase


@mixin body()
  font-size: 1.4rem
  line-height: 1.43
  font-weight: normal
  font-family: $pt_sans

@mixin body_sec()
  font-size: 1.1rem
  line-height: 1.4
  font-weight: normal
  font-family: $pt_sans


