.buttons__container
  display: flex
  padding-top: 10px

.button
  @include h5()
  background-color: $blue
  position: relative
  color: #fff
  text-align: center
  width: 100%
  padding: 10px 15px
  cursor: pointer
  text-decoration: none
  border: 0
  min-height: 40px
  border-radius: 4px

  &.button--gray
    background-color: #F3F3F3
    color: $black
    width: auto
    &:hover
      background-color: #dedede

  &.button--green
    background-color: $shamrock
    color: $white
    &:hover
      background-color: #00a95c
    &-disabled, &:disabled
      background-color: #e8e8e8
      color: #BBBBBB
      cursor: default
      &:hover
        color: #BBBBBB
        background-color: #e8e8e8
        cursor: default

  &.button--white
    background-color: $white
    color: $blue
    width: auto
    &:hover
      background-color: $white
      color: $blue
      opacity: 0.8

  &_dark
    background-color: $black

    &:hover,
    &.button_loading
      background-color: $blue_dark
      border-color: $blue_dark
      color: $white
  &:hover
    transition: background-color $fast

  &:hover,
  &.button_loading
    background-color: $blue_dark
    border-color: $blue_dark
    color: $white

  &:disabled
    background-color: #e8e8e8
    color: #BBBBBB
    cursor: default
    .rect-spinner
      opacity: 0.5;
    &:hover
      cursor: default

  &_s
    padding: 7px 10px
    min-height: 30px
    font-size: 1.1rem

  &__sec.button
    background-color: $gray
    color: #000
    &:hover
      background-color: #e6e5e5
      color: #000

  &.button-small
    min-height: 30px
    height: 30px
    font-size: 11px
    padding: 5px 10px

.button
  input
    position: absolute
    display: block
    left: 0
    top: 0
    width: 800px
    height: 300px
    cursor: pointer
    border: 0
    opacity: 0

.button__browse
  input[type="file"]
    font: 199px Verdana, sans-serif
    position: absolute
    top: -30px
    right: -20px
    cursor: pointer
    opacity: 0

.button-link
  background-color: transparent;
  color: $white
  font-weight: 600
  // letter-spacing: 1px
  border: 0px
  text-transform: uppercase;
  display: inline-block
  font-family: $montserrat
  &:disabled
    opacity: 0.5
  &.blue
    color: #005CB8
  &:hover
    &:disabled
      opacity: 0.5
      cursor: default
    cursor: pointer
    opacity: 0.8

.button-icon
  background-color: transparent;
  padding: 0px
  margin: 0px
  border: 0px
  line-height: 1
  box-sizing: content-box;
  display: inline-block
  > svg
    display: block
  &:hover
    cursor: pointer
    opacity: 0.8

button.microlink
  font-size: 1.4rem
  color: $blue
  border: 0px
  background-color: transparent
  &:hover
    cursor: pointer
    text-decoration: underline


button.h5-link
  +h5()
  background-color: transparent
  border: 0px
  svg
    display: inline-block
    vertical-align: top
  line-height: 30px
  &:hover
    cursor: pointer

button.blue-button-icon-bold, button.blue-button-icon-lite, button.red-button-icon-bold
  background-color: transparent
  border: 0px
  line-height: 30px
  svg
    display: inline-block
    vertical-align: top
    width: 30px
    height: 30px
  &:hover
    cursor: pointer
  &:disabled
    opacity: 0.5
    &:hover
      cursor: default

button.blue-button-icon-bold
  font-size: 1.1rem
  font-weight: bold
  font-family: $montserrat
  text-transform: uppercase
  color: $blue
  .button-text
    position: relative
    left: -5px

button.blue-button-icon-lite
  font-size: 1.4rem
  color: $blue
  .button-text
    position: relative
    top: 2px
    left: -5px

button.red-button-icon-bold
  font-size: 1.4rem
  font-weight: bold
  font-family: $montserrat
  text-transform: uppercase
  color: $red

button.blue-text-button
  font-size: 1.4rem
  font-weight: bold
  color: $blue
  background-color: transparent;
  border: 0px
  transition: opacity $fast
  opacity: 1
  &:hover
    background-color: transparent;
    opacity: 0.6
    color: $blue


button.dashed-underline-button
  font-size: 1.4rem
  color: $battleGray
  background-color: transparent;
  border: 0px
  padding: 0px
  border-bottom: 1px dashed $battleGray;

button.button
  &.battle-gray
    background-color: $battleGray
    &:disabled
      background-color: #e8e8e8;
      color: #BBBBBB;
      cursor: default;

button.blue-border
  font-size: 1.4rem
  color: $blue
  border-radius: 4px
  white-space: nowrap
  background-color: $white;
  padding: 0px
  border: solid 2px $blue;
  transition: opacity $fast
  &:hover
    background-color: $white;
    color: $blue
    opacity: 0.8

button.white-border
  font-size: 1.2rem
  color: $white
  border-radius: 4px
  white-space: nowrap
  background-color: transparent;
  padding: 0px
  border: solid 1.5px rgba(255,255,255,0.2);
  transition: opacity $fast
  &:hover
    opacity: 0.8
    border: solid 1.5px rgba(255,255,255,0.2);
    background-color: transparent;

.button--new-blue
  background-color: $newBlue
  color: $white
  border-radius: 4px
  transition: background-color $fast
  &:hover
    background-color: rgba($newBlue, .9)
    cursor: pointer

.button-new-link
  background-color: transparent;
  color: $newBlue
  font-weight: normal
  // letter-spacing: 1px
  border: 0px
  text-transform: none;
  display: inline-block
  font-family: $montserrat
  padding: 0px
  &:disabled
    opacity: 0.5
  &.blue
    color: #005CB8
  &:hover
    &:disabled
      opacity: 0.5
      cursor: default
    cursor: pointer
    opacity: 0.8
