// Uploader
.uploader
  position: relative
  display: inline-block
  padding: 10px 30px
  vertical-align: middle
  background: blue
  color: #fff
  font: 12px Arial, sans-serif
  overflow: hidden

  &:hover
    background: orange
    color: #000

  input
    font: 199px Verdana, sans-serif
    position: absolute
    top: -30px
    right: -20px
    cursor: pointer
    opacity: 0


// Checkbox

.checkbox__block
  margin-bottom: 25px

  &_small
    margin-bottom: 5px

.checkbox__label
  position: relative
  padding-left: 25px
  display: inline-block

  &_m
    display: block
    padding-top: 2px
    padding-bottom: 3px

    .checkbox,
    .checkbox-i
      top: 3px

  &_big
    display: block
    padding-top: 7px
    padding-bottom: 8px

    .checkbox,
    .checkbox-i
      top: 6px

  &:hover .checkbox
    border-color: $black

  input[type="checkbox"],
  input[type="radio"]
    visibility: hidden
    height: 0
    width: 0
    border: 0
    overflow: hidden
    position: absolute
    left: 0
    top: 0

.checkbox
  width: 15px
  height: 15px
  border: 1px solid $black
  box-sizing: border-box
  top: 0
  left: 0
  position: absolute
  overflow: hidden
  vertical-align: top
  transition: border-color $fast

input[type=checkbox]:checked + .checkbox + .checkbox-i
  opacity: 1

input[type=checkbox]:disabled + .checkbox
  background-color: $black !important
  border-color: $black !important

  & + .checkbox-i
    fill: $black !important

.checkbox-i
  fill: $black
  width: 14px
  height: 14px
  display: block
  position: absolute
  left: 1px
  top: 0
  opacity: 0
  transition: opacity $fast


// Radio

.radio__label
  position: relative
  padding-left: 25px
  display: inline-block

  &:hover .radio
    border-color: $black

  &_big
    padding-top: 2px
    padding-bottom: 3px
    display: block

    .radio
      top: 3px

  input
    display: none

.radio
  width: 15px
  height: 15px
  border: 1px solid $black
  box-sizing: border-box
  background: $white
  top: 2px
  position: absolute
  left: 0
  overflow: hidden
  border-radius: 50%
  transition: border-color $fast

input[type=radio]:checked + .radio::before
  content: ''
  display: block
  position: absolute
  width: 7px
  height: 7px
  left: 3px
  top: 3px
  background: $black
  border-radius: 50%

input[type=radio]:disabled + .radio
  border-color: $black !important
  background-color: $black !important

  &::before
    background-color: $black !important

// Fields

.field__container
  margin-bottom: 10px

.field__block
  position: relative
  margin-bottom: 10px
  display: flex
  flex-direction: column

  .buttons__container
    margin-top: -10px
    padding-top: 0

  &_oneline
    padding-left: 30%

    .field__label
      position: absolute
      left: 0
      top: 12px

  &_gender

    .field__label
      top: 0

    .radio__label
      min-width: 120px
      box-sizing: border-box

  &_mod
    margin-bottom: 30px

  &-compact
    position: relative

    .field
      padding-right: 120px

  .error
    order: 4

  &_big
    margin-bottom: 29px

.field__label
  display: inline-block
  margin-bottom: 16px

.field
  width: 100%
  box-sizing: border-box
  min-height: 30px
  border: 0
  display: block
  @include body()
  font-size: 1.2rem
  color: $black
  background: #e9e9e9
  padding: 7px 10px
  border-radius: 4px
  position: relative
  -webkit-appearance: none
  transition: all $fast

  +placeholder()
    color: $black
    opacity: .3

  // &:hover,
  // &:focus
  //   border-color: $black

  &:disabled
    color: $black
    opacity: 1

  &.error,
  &.error:hover,
  &.error:focus
    border-color: $red

  &:hover,
  &:focus
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1)

  &_xs
    min-height: 30px
    padding: 6px
    min-width: 80px

  &__group
    display: flex
    align-items: center

    &-separator
      padding: 0 5px

  &__groups
    justify-content: space-between
    display: flex
    align-items: flex-start

    &-block
      width: calc(50% - 5px)

  &__date
    display: flex

    .select2
      width: 17% !important
      min-width: 75px

      & + select + .select2
        width: 40% !important
        margin-left: 10px

        & + select + .select2
          width: 27% !important
          min-width: 85px

textarea.field
  height: 150px
  resize: vertical
  min-height: 150px
  max-height: 150px

  &_s
    min-height: 95px
    height: 95px

.field__counter
  font-size: 1.1rem
  color: $black
  position: absolute
  right: 14px
  top: 120px
  background: $white
  opacity: 1


// Error

.field_error,
.field_error:hover,
.field_error:focus
  border-color: $red

label.error,
.field_error-message
  color: $red
  font-size: 1.1rem
  line-height: 1.4
  display: inline-block
  padding: 6px 0 0
  position: absolute
  bottom: -20px
  left: 10px

// Select

.select
  position: relative

.select2
  .select__current
    background-color: #fff
    border-color: #fff
    box-shadow: 0 1px 3px rgba(0,0,0,.3)
    padding: 8px 25px 7px 10px
    line-height: 1
    min-width: 70px

    &:before
      width: 7px
      height: 12px
      border: 0
      right: 7px
      top: 50%
      margin-top: -6px
      transform: rotate(0)

.select__list_mod
  opacity: 0
  visibility: hidden
  display: block
  transition: opacity .5s, visibility 0s .5s

.opened
  .select__list_mod
    opacity: 1
    visibility: visible
    transition-delay: 0s


// File
.file
  font: 199px Verdana, sans-serif
  position: absolute
  top: -30px
  right: -20px
  cursor: pointer
  opacity: 0

.gray-text
  color: #999
  text-align: center
  .link
    text-decoration: underline


@media ($mobile)

  .field

    &__groups
      flex-direction: column

      &-block
        width: 100%

        &:last-child
          margin-top: 10px

  .field__block

    &_oneline
      padding-left: 0

      .field__label
        position: static
        margin-bottom: 10px

    &_mod
      margin-bottom: 25px
