// Grid

.page
  min-width: 320px
  position: relative
  min-height: 100%
  display: flex
  flex-direction: column


body.menu_opened
  .page
    overflow-y: hidden

.wrap
  padding: 0 20px
  margin: 0 auto
  max-width: $max

.title
  @include h2()
  margin-bottom: 34px
  text-align: center

.play
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 40px
  height: 40px

  &-i
    width: 40px
    height: 40px
    display: block
    fill: $white

.swiper
  overflow: hidden
  width: calc(100% + 40px)
  margin: 0 -20px

.right-delimeter-container
  display: block;
  width: 1px;
  height: 100%;
  right: 0px;
  padding: 10px 0px;
  position: absolute;
  box-sizing: border-box;
  top: 0px
  .right-delimeter
    width: 1px;
    height: 100%;
    background-color: $borderGray
