@import '../helpers/vars'

// firefox red shadow fix
input:invalid
  box-shadow: none;

input[type="text"], input[type="email"], input[type="password"]
  box-sizing: border-box;
  &.input
    border: 2px solid $borderGray
    padding: 7px 10px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px
    &:focus
      border: 2px solid #0D5EB5;
      box-shadow: 0px 11px 32px -12px rgba(0,0,0,0.75);
      transition: box-shadow 0.2s ease-out;
    &::placeholder
      color: #999
    &:disabled
      background-color: #F9F9F9
    &.is-error
      border-color: $red

label.label
  font-weight: bold
  display: block;
  margin-bottom: 5px

form .form-group
  padding-bottom: 15px
  .hint
    color: #999;
    margin-top: -5px;
    margin-bottom: 10px;

form.auth-form
  // display: flex
  // flex-direction: column
  // align-items: center
  max-width: 300px
  .form-group
    // max-width: 300px
    // width: 100%
  .form-half-group
    // max-width: 300px
    // width: 100%
  .form-half-group
    display: flex
    margin-left: -20px
    .form-group
      width: 50%;
      padding-left: 20px
  .captcha-row
    padding-bottom: 0px

.auth-form-delimeter
  height: 1px
  width: 100%;
  background-color: $borderGray
  margin-top: 24px
  margin-bottom: 29px
  max-width: 340px

.date-group
  select
    display: inline-block
    &.day
      width: 50px
    &.month
      width: 100px
    &.year
      width: 70px

select
  border: 2px solid #999
  padding: 7px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
  background-color: #fff
  width: 100%;
  margin-bottom: 10px
  &:focus
    border: 2px solid #0D5EB5;
    box-shadow: 0px 11px 32px -12px rgba(0,0,0,0.75);
    transition: box-shadow 0.2s ease-out;
  &::placeholder
    color: #999


.country-select
  width: 100%;
  input
    border: 2px solid #999
    padding: 7px 10px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 10px
    &:focus
      border: 2px solid #0D5EB5;
      box-shadow: 0px 11px 32px -12px rgba(0,0,0,0.75);
      transition: box-shadow 0.2s ease-out;
    &::placeholder
      color: #999

.Select-menu-outer
  z-index: 2

.Select-input
  height: 33px
