a.microlink
  font-size: 11px
  color: $blue
  background-color: transparent
  &:hover
    text-decoration: underline

a.link
  color: $blue
  &:hover
    text-decoration: underline

a.underlined
  color: $blue
  text-decoration: underline

a.dashed
  color: $blue
  border-bottom: 1px dashed $blue
  &:hover
    border-bottom: 0px
