.fixed-on-scroll-element.fixed
  .print-bottom-buttons
    margin-left: -15px
    margin-right: -15px
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.3)
    .print-button
      margin-right: 15px

.print-bottom-buttons
  background-color: $white
  display: flex
  justify-content: center
  position: relative
  padding-top: 25px
  padding-bottom: 25px
  box-sizing: border-box
  .button
    max-width: 140px
  .print-button
    display: none
    position: absolute
    right: 100px

@media ($laptop)
  .print-bottom-buttons
    .print-button
      display: block
