html,
body
  height: 100%

html
  font-size: 62.5%

body
  color: $black
  @include body()
  background: $white
  height: 100%
  #__next
    height: 100%
  main
    flex: 1 0 auto;
  footer
    flex-shrink: 0;
  .sprites
    width: 0px
    height: 0px
    position: absolute
    left: -9999999px
a
  color: $black
  text-decoration: none
  transition: color $fast

  &:hover
    color: $black

button,
input,
textarea,
select
  @include body()
  outline: none

ul
  li
    position: relative
    list-style-type: none;
    &:before
      content: '\2022';
      position: absolute;
      left: -20px;
      color: #005cb8;

.hidden
  opacity: 0
  visibility: hidden
  transition: opacity .5s, visibility 0s .5s

.opened > .hidden
  opacity: 1
  visibility: visible
  transition-delay: 0s

.center
  text-align: center

.svg
  display: none

.jquery-modal.blocker
  z-index: 500 !important
  .modal
    max-width: 620px

.clearfix::after
  content: "";
  clear: both;
  display: table;

.text-center
  text-align: center

div.delimeter
  height: 1px;
  background-color: #EFF1F2;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

.gray-block
  background-color: $gray
  border-radius: 6px
  padding: 20px


.inline-block
  display: inline-block

.index__container
  max-width: 1490px
  margin: 0 auto
  position: relative;
  width: 100%;
  box-sizing: border-box
  padding-left: 20px
  padding-right: 20px
  &.full-mobile__container
    padding-left: 0px
    padding-right: 0px

.tradings
  margin-top: 25px

@media ($laptop)
  .index__container
    padding-left: 40px
    padding-right: 40px
    &.full-mobile__container
      padding-left: 40px
      padding-right: 40px
